@charset "utf-8";

/* font-family: 'Maven Pro', sans-serif; */

/*@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

/* font-family: 'Noto Sans KR'; 100,300,400,500,700,900 */

@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');


/* font-family: 'NanumGothic'; 100,600,900 */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

/*font-family: 'Nanum Pen Script', cursive;*/
@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
/*font-family: 'Nanum Brush Script', cursive;*/
@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');

/*font-family: 'Nanum Myeongjo', serif;*/
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');

/*font-family: 'Jeju Myeongjo', serif;*/
@import url('http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');

/*font-family: 'BMDOHYEON', 'Noto Sans KR', serif; / font-family: 'BMHANNA', 'Noto Sans KR', serif; / font-family: 'BMJUA', 'Noto Sans KR', serif; / font-family: 'BMYEONSUNG', 'Noto Sans KR', serif; */
@import url('font_bm.css');


/*************************************************************************************************

Reset

*************************************************************************************************/
@-ms-viewport {width:device-width;}
@-o-viewport {width:device-width;}
@viewport {width:device-width;}

* {box-sizing: border-box;}
img {max-width: 100%;}
html {position:relative;width:100%;height:100%;word-break:keep-all;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;list-style:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
h1,h2,h3,h4,h5,h6,em,address{font-style:normal;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;word-break:break-all;word-break:keep-all;border:0;}
table th, table td{vertical-align:middle;}
caption{visibility:hidden;width:0;height:0;font-size:0;line-height:0;zoom:1;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none; overflow:hidden; width:0; height:0; font-size:0; visibility:visible; line-height:0;}
select, img, input, textarea,button {vertical-align:middle;font-family:'Maven Pro','Noto Sans KR', 'Dotum', '돋움', verdana, sans-serif;color:#000;}
label input[type=checkbox], label input[type=radio] {float:left;margin-right:5px;height:13px;width:13px;}
button {background:none; margin:0; padding:0; border:0 none; cursor:pointer;}
img {border:none; -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop')"; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop');}
hr {display:none;}

button:focus, input:focus, textarea:focus {
	outline:none;

	-webkit-ime-mode:active; 
	-moz-ime-mode:active; 
	-ms-ime-mode:active; 
	ime-mode:active; 
}

input,textarea,button,select,table{font-family:'Maven Pro','Noto Sans KR', 'Dotum', '돋움', verdana, sans-serif;font-size:14px;line-height:1.5;color:#666;}
button, [type="button"], [type="reset"], [type="submit"] {padding: 0;border: 0 none;background: none;cursor: pointer;}
button, [type="button"], [type="reset"], [type="submit"] {border: 0 none;}
button,input {overflow:visible;}

/*************************************************************************************************

Link Style 

*************************************************************************************************/
a, .trans {text-decoration:none;color:#666;-webkit-transition: background .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;-moz-transition: background .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;-ms-transition: background .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;-o-transition: background .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;transition: background .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;outline:none;}
a:hover {text-decoration:underline;color:#000;}

/*************************************************************************************************

Etc Style 

*************************************************************************************************/

.clearfix {clear:both;}
hr.border {width:14px;height:1px;display:inline-block;text-align:center;margin:20px 0;background:#036;}
.blind {visibility:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;}
.accessibilityWrap dd a {display:block;position:absolute;top:-10000px;left:0;z-index:500;width:100%;}

/*************************************************************************************************

Form Style 

*************************************************************************************************/

/* Placeholder */
::-webkit-input-placeholder { color:#aaa;font-size:inherit;font-weight:300;}
::-moz-placeholder { color:#aaa;font-size:inherit;font-weight:300; } /* firefox 19+ */
:-ms-input-placeholder { color:#aaa;font-size:inherit; font-weight:300; } /* ie */
input:-moz-placeholder { color:#aaa;font-size:inherit; font-weight:300; }

/* @media screen and (max-device-width:769px){ */
	.unstyled::-webkit-inner-spin-button,
	.unstyled::-webkit-calendar-picker-indicator {
			display: none;
			-webkit-appearance: none;
	}
/* } */

.hidden {
	visibility:hidden;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0;
	text-indent:10px;
}


a:focus, button:focus, a:active, button:active {outline:none;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {outline:none;}