@charset "utf-8";

@font-face {
  font-family: 'BMDOHYEON';
  font-style: normal;
  font-weight: 300;
  src: url('../../font/BMDOHYEON_ttf.eot');
  src: local('BMDOHYEON_ttf'),
       local('BMDOHYEON_ttf'),
       url('../../font/BMDOHYEON_ttf.eot?#iefix') format('embedded-opentype'),
       url('../../font/BMDOHYEON_ttf.woff') format('woff'),
       url('../../font/BMDOHYEON_ttf.svg?v=4.4.0') format('svg');
}

@font-face {
  font-family: 'BMHANNA';
  font-style: normal;
  font-weight: 300;
  src: url('../../font/BMHANNA_11yrs_ttf.eot');
  src: local('BMHANNA_11yrs_ttf'),
       local('BMHANNA_11yrs_ttf'),
       url('../../font/BMHANNA_11yrs_ttf.eot?#iefix') format('embedded-opentype'),
       url('../../font/BMHANNA_11yrs_ttf.woff') format('woff'),
       url('../../font/BMHANNA_11yrs_ttf.svg?v=4.4.0') format('svg');
}

@font-face {
  font-family: 'BMJUA';
  font-style: normal;
  font-weight: 300;
  src: url('../../font/BMJUA_ttf.eot');
  src: local('BMJUA_ttf'),
       local('BMJUA_ttf'),
       url('../../font/BMJUA_ttf.eot?#iefix') format('embedded-opentype'),
       url('../../font/BMJUA_ttf.woff') format('woff'),
       url('../../font/BMJUA_ttf.svg?v=4.4.0') format('svg');
}

@font-face {
  font-family: 'BMYEONSUNG';
  font-style: normal;
  font-weight: 300;
  src: url('../../font/BMYEONSUNG_ttf.eot');
  src: local('BMYEONSUNG_ttf'),
       local('BMYEONSUNG_ttf'),
       url('../../font/BMYEONSUNG_ttf.eot?#iefix') format('embedded-opentype'),
       url('../../font/BMYEONSUNG_ttf.woff') format('woff'),
       url('../../font/BMYEONSUNG_ttf.svg?v=4.4.0') format('svg');
}